

  header{
    position: relative;
    height:31.25vw;
    padding-top: 11.25vw;


    h1, h2, h3 {
      padding:0;
      margin: 0 0 1rem 0;
      text-align:center;
      color:white;
    }

    h1{
      font-size:6vw;
    }

    h2 {
      font-size: 2vw;
      background-color: transparent;
      border: 0 none;
    }

    h3{
      font-size: 1.5vw;
      color:white;
      margin-top: 2vw;
    }
    &::after{
      content:"";
      background-color: @sfglogodark;
      background-image: url(/img/IMG_1029.JPG);
      background-size:contain;
      background-repeat:no-repeat;
      width: 240px;
      height: 54px;
      position:absolute;
      top: 5vw;
      left:5vw;
    }

    &::before {
      content: "";
      background-image: url(/img/IMG_0867.JPG);
      background-size: cover;
      background-position-y: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }

    a {
      display: none;
    }
  }

  @media all and (max-width: 699px) and (min-width: 320px) {

    #promo{
      display:none;
    }
    header{
      &::after{
        display:none;
      }
      overflow: hidden;
      background-color: @sfglogodark;
      background-image: url(/img/IMG_1029.JPG);
      background-size:contain;
      background-repeat:no-repeat;
      margin:0;
      height: auto;
      padding:  23vw 0 0 0;

      h1 {
        background-color: @sfglogodark;
        padding: 1.5rem 0;
        margin:0;
        text-align:center;
        color: white;
        text-shadow: 0;
        font-size: 4vw;
        border-top:1px dotted white;
      }
      h2 {
        display:none;
      }

      a {
        display: block;
        overflow:hidden;
        border-radius: 5px;
        margin: 5vw;
        background-color: white;
        line-height: 3rem;
        font-weight: bold;
        text-indent: 2vw;
        padding: 1px;
        img {
          vertical-align: middle;
          float:right;
        }
      }
    }
  }