#menu{

  .mobile{
    display: none;
  }
  background-color: @sfgblue;

  ul {
    height: 80px;
  }
  ul,li{
    padding: 0;
    margin: 0;
    text-align:center;
  }

  li {
    display:inline-block;
    vertical-align: middle;
    margin-top:8px;
  }

  a {
    display:inline-block;
    line-height: 64px;
    font-size: 1.2vw;
    text-transform: uppercase;
    color: @sfgred;
    margin-right: 2vw;


  }
  a:hover {
    color:white;
  }

}

.fixed #menu{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:100000;
  background-color: @sfgblue80;
  box-shadow:  0 0 15px 5px  @sfgLightComplement80;
}

.fixed #benefits {
  margin-top: 60px;
}

@media all and (max-width: 699px) and (min-width: 320px) {
  .fixed #menu{
    position: static;
    background-color: @sfglogodark;
    box-shadow: 0 0 0 0 transparent;
  }
  #menu{
    background-color: @sfglogodark;
    .drop{display:none;}

  }
}









#menu{


  background-color: @sfgblue;


  ul,li{
    padding: 0;
    margin: 0;
    text-align:center;
  }

  li {
    display:inline-block;
    vertical-align: middle;
    margin-top:8px;
    line-height: 80px;
  }

  a {
    display:inline-block;
    line-height: 64px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: @sfgred;
    margin-right: 2vw;



  }
  a:hover {
    color:white;
  }

}

.fixed #menu{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:100000;
  background-color: @sfgblue80;
  box-shadow:  0 0 15px 5px  @sfgLightComplement80;
}

.fixed #benefits {
  margin-top: 60px;
}

@media all and (max-width: 699px) and (min-width: 320px) {

  .mobile{
    display: inline;
  }
  .fixed #menu{
    position: static;
    background-color: @sfglogodark;
    box-shadow: 0 0 0 0 transparent;
  }
  #menu{
    background-color: @sfglogodark;
    .drop{display:none;}
    overflow:hidden;
    height:auto;
    width:auto;
    ul{
      height:auto;
    }
    li {
      position:relative;
      display:block;
      border-top:1px dotted white;
      line-height: .9;

      padding: 0;
      margin:0;
      text-align: center;
      text-indent: 5vw;
      &:hover{
        background-color:@sfgLightComplement;
      }
    }
    a{
      font-size: 1rem;
      padding: 0;
      margin:0;
      display:inline;
      vertical-align: middle;
    }
    a+a {
      font-size: 1rem;
      img {
        width: 2rem;
        height: 2rem;
        vertical-align: middle;
        position: absolute;
        right: 5vw;
        top:1.1rem;
      }

    }
  }
}


