




    #timetable {
      margin:0;
      padding:0;


      &>div{
        overflow:hidden;
      }

      &>div:nth-child(2n+1)  {
        background-color:@sfgLightComplement;

        table{
          background-color:@sfgLight2;
        }

      }
      &>div+div{
        padding: 1rem;
        box-sizing: content-box;
        h2 {
          color: @sfgLightComplement;
          background-color: @sfgLight;
        }
      }
      table {
        width: 100%;
        margin:0;
        border: 0;
        border-collapse: collapse;
        overflow:hidden;
      }
      thead{
        border-bottom:1px solid @sfgLight;
      }

      tr{
        border: 0;
      }
      td {
        border: 0;
        width: 20%;
      }

      td+td{
        text-indent:0;
        width:80%;
        line-height: 1.2;
      }

      .weekday {
        text-align:left;
        border: 0;
        text-indent: 2vw;
        padding:2rem 0 0 0;
        margin: 0;
        font-size: 1.6rem;
        line-height: 2;

      }
    }

    @media all and (max-width: 699px) and (min-width: 320px) {

      #timetable{

        table{
          overflow: hidden;
        }

        td{white-space: pre-wrap}
        h2 {
          text-align: center;
          span {
            display: none;
          }
        }
        .weekday {
          text-align:center;
        }
        td, h2, .weekday {
          font-size: 1rem;
        }
      }


    }