
  #about {
    font-size: 1.6rem;
    padding: 4rem;

    h2 {
      font-size: 2rem;
      font-weight: normal;
    }
    p,li{
      font-size: 1.6rem;
      line-height: 1.5;

    }

    li{
      padding: .5rem 0;
      letter-spacing: 1px;
      line-height: 1.2;
      border-bottom: 1px dotted @sfgLightComplement;

    }
    .tagline{
      color: black;
      font-weight: 500;
    }
  }