section#boast
    h2
        span trainers of champions!
        br
        span &nbsp;we have trained world
        span &nbsp;muay thai and mma champions
        span &nbsp;and ufc fighters.
        br
        span From day 1.