section#boast
    h2
        span trainers of champions!&nbsp;
        br
        span &nbsp;we have trained world
        span &nbsp;muay thai and mma champions
        span &nbsp;and ufc fighters.&nbsp;
        br
        span From day 1.