li
    a(href="https://www.facebook.com/ChristchurchMMA",title="Strikeforce Canterbury on Facebook")
        span Strikeforce Canterbury on Facebook
        img(src="ass/64-facebook.png",width="64",height="64")
