html
    head

        <meta charset="utf-8">
        <title>Strikeforce Gym</title>
        <meta name="description" content="">
        <meta name="keywords" content="Muay Thai, MMA, Kickboxing">
        <link href="css/main.css" rel="stylesheet" type="text/css" />


    body.homepage
        nav
            abbr#logo(title="StrikeForce Gym")
                a(href='/') SFG

        div.carousel
            div.content