html {
  font-family: arial;
}
body {
  color: #444;
  padding: 0 0 0 0;
  margin: 0;
  background-color: white;
}
section {
  overflow: hidden;
  margin: 0 auto;
  padding: 1rem;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: normal;
}
a {
  text-decoration: none;
}
a:link {
  color: #00237D;
}
a:visited {
  text-decoration: underline;
}
a:hover {
  color: #D00000;
  text-decoration: underline;
}
footer {
  font-size: 3rem;
  padding: 5rem;
}
a[name] {
  display: block;
}
input,
textarea,
button {
  margin-top: 1vw;
  font-size: 1vw;
  padding: 1vw;
  box-sizing: border-box;
  width: 100%;
}
#link {
  margin: 1vw;
  padding: 3vw;
}
#link code {
  font-size: 2rem;
  padding: 2vw;
  display: block;
  background-color: #f1f1f1;
}
#link h2 {
  line-height: 1.8;
  margin-bottom: 2vw;
  margin-top: 5vw;
  border-bottom: 1px dotted black;
}
#link p,
#link li {
  font-size: 1.6rem;
  line-height: 1.5;
}
#link li {
  border-bottom: 1px dotted black;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  h1,
  h2,
  h3,
  h4,
  section h2 {
    text-shadow: 0 0 0 transparent;
    margin: 0;
    padding: 0;
  }
}
#menu {
  background-color: #00237D;
}
#menu .mobile {
  display: none;
}
#menu ul {
  height: 80px;
}
#menu ul,
#menu li {
  padding: 0;
  margin: 0;
  text-align: center;
}
#menu li {
  display: inline-block;
  vertical-align: middle;
  margin-top: 8px;
}
#menu a {
  display: inline-block;
  line-height: 64px;
  font-size: 1.2vw;
  text-transform: uppercase;
  color: #D00000;
  margin-right: 2vw;
}
#menu a:hover {
  color: white;
}
.fixed #menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background-color: rgba(0, 35, 125, 0.8);
  box-shadow: 0 0 15px 5px rgba(68, 68, 68, 0.8);
}
.fixed #benefits {
  margin-top: 60px;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  .fixed #menu {
    position: static;
    background-color: #0B0F0E;
    box-shadow: 0 0 0 0 transparent;
  }
  #menu {
    background-color: #0B0F0E;
  }
  #menu .drop {
    display: none;
  }
}
#menu {
  background-color: #00237D;
}
#menu ul,
#menu li {
  padding: 0;
  margin: 0;
  text-align: center;
}
#menu li {
  display: inline-block;
  vertical-align: middle;
  margin-top: 8px;
  line-height: 80px;
}
#menu a {
  display: inline-block;
  line-height: 64px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #D00000;
  margin-right: 2vw;
}
#menu a:hover {
  color: white;
}
.fixed #menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background-color: rgba(0, 35, 125, 0.8);
  box-shadow: 0 0 15px 5px rgba(68, 68, 68, 0.8);
}
.fixed #benefits {
  margin-top: 60px;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  .fixed #menu {
    position: static;
    background-color: #0B0F0E;
    box-shadow: 0 0 0 0 transparent;
  }
  #menu {
    background-color: #0B0F0E;
    overflow: hidden;
    height: auto;
    width: auto;
  }
  #menu .drop {
    display: none;
  }
  #menu .mobile {
    display: inline;
  }
  #menu ul {
    height: auto;
  }
  #menu li {
    position: relative;
    display: block;
    border-top: 1px dotted white;
    line-height: .9;
    padding: 0;
    margin: 0;
    text-align: center;
    text-indent: 5vw;
  }
  #menu li:hover {
    background-color: #444;
  }
  #menu a {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    display: inline;
    vertical-align: middle;
  }
  #menu a + a {
    font-size: 1rem;
  }
  #menu a + a img {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    position: absolute;
    right: 5vw;
    top: 1.1rem;
  }
}
#timetable {
  margin: 0;
  padding: 0;
}
#timetable > div {
  overflow: hidden;
}
#timetable > div:nth-child(2n+1) {
  background-color: #444;
}
#timetable > div:nth-child(2n+1) table {
  background-color: #f1f1f1;
}
#timetable > div + div {
  padding: 1rem;
  box-sizing: content-box;
}
#timetable > div + div h2 {
  color: #444;
  background-color: #bbb;
}
#timetable .weekday {
  text-align: left;
  border: 0;
  text-indent: 7vw;
  padding: 2rem 0 0 0;
  margin: 0;
  font-size: 1.6rem;
  line-height: 2;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  #timetable table {
    overflow: hidden;
  }
  #timetable td {
    white-space: pre-wrap;
  }
  #timetable h2 span {
    display: none;
  }
  #timetable td,
  #timetable h2,
  #timetable .weekday {
    font-size: 1rem;
  }
}
#prices {
  padding: 0;
  margin: 0;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  #prices h3 {
    font-weight: bold;
    margin-top: 3rem;
  }
  #prices h3,
  #prices tr {
    font-size: 1rem;
  }
}
#contact {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: white;
  height: 594px;
  border-bottom: 1px solid black;
  font-size: 1.6rem;
  line-height: 1.5;
}
#contact p {
  padding: 2rem;
}
#contact h3 {
  color: white;
}
#contact a {
  color: white;
  text-decoration: underline;
}
#contact a:visited {
  text-decoration: underline;
  color: white;
}
#contact a:hover {
  text-decoration: underline;
  color: white;
}
#contact ul {
  margin-top: .5rem;
}
#contact #map,
#contact #map2 {
  height: 300px;
  width: 100%;
  margin: 2rem 0 0 0;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  #contact {
    height: auto;
    padding: 0;
    margin: 0;
  }
  #contact h3 {
    font-size: 1rem;
  }
  #contact h3 span {
    display: none;
  }
  #contact li {
    font-size: 1rem;
  }
}
h2 {
  border-top: 1px dotted white;
  background-color: black;
  color: white;
  text-indent: 7vw;
  margin: 0;
  padding: 0;
  line-height: 2;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-shadow: 0 0 0 transparent;
  font-style: normal;
}
h3 {
  line-height: 2;
  text-indent: 7vw;
}
ul {
  margin-left: 11vw;
  padding-left: 1rem;
}
table {
  width: 100%;
  margin: 0 0 2rem 0;
  border: 0;
  border-collapse: collapse;
  overflow: hidden;
}
thead {
  border-bottom: 1px solid #bbb;
}
tr {
  border: 0;
  line-height: 2;
  font-size: 1.5rem;
  text-indent: 7vw;
}
td {
  border: 0;
  width: 20%;
}
td + td {
  padding-left: 7vw;
  text-indent: 0;
  width: 80%;
  line-height: 1.2;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  h2 {
    font-size: 1rem;
  }
  th {
    font-size: 1rem;
  }
}
header {
  position: relative;
  height: 31.25vw;
  padding-top: 11.25vw;
}
header #headerlinks {
  position: absolute;
  top: 28vw;
  left: 28vw;
  margin: 0;
  width: 50%;
  padding: 2vw;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
header #headerlinks a {
  display: inline-block;
}
header li {
  display: inline-block;
  padding: 0 2vw;
  border: 0;
  vertical-align: middle;
}
header a {
  border: 2px solid #444;
  display: inline-block;
  padding: 0;
  margin: 0 0 0 0;
  line-height: 64px;
  border-radius: 5px;
}
header a span {
  display: none;
}
header a:hover {
  color: white;
}
header .signup a {
  background-color: white;
  color: #00237D;
  padding: 0 2vw;
  text-indent: 0;
}
header .signup a:hover {
  color: white;
  background-color: #00237D;
}
header h1,
header h2,
header h3 {
  padding: 0;
  margin: 0 0 1rem 0;
  text-align: center;
  color: white;
}
header h1 {
  font-size: 6vw;
}
header h2 {
  font-size: 2vw;
  background-color: transparent;
  border: 0 none;
}
header h3 {
  font-size: 1.5vw;
  color: white;
  margin-top: 2vw;
}
header::after {
  content: "";
  background-color: #0B0F0E;
  background-image: url(/img/IMG_1029.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  width: 240px;
  height: 54px;
  position: absolute;
  top: 5vw;
  left: 5vw;
}
header::before {
  content: "";
  background-image: url(/img/IMG_0867.JPG);
  background-size: cover;
  background-position-y: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
header a {
  display: none;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  #promo {
    display: none;
  }
  header {
    overflow: hidden;
    background-color: #0B0F0E;
    background-image: url(/img/IMG_1029.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    height: auto;
    padding: 23vw 0 0 0;
  }
  header #headerlinks {
    position: static;
    padding: 1rem;
    margin: 0;
    text-align: center;
    width: 100%;
    background-color: transparent;
  }
  header #headerlinks a {
    margin: 0;
  }
  header::after {
    display: none;
  }
  header h1 {
    background-color: #0B0F0E;
    padding: 1.5rem 0;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 0;
    font-size: 4vw;
    border-top: 1px dotted white;
  }
  header h2 {
    display: none;
  }
  header a {
    display: block;
    overflow: hidden;
    border-radius: 5px;
    margin: 5vw;
    background-color: white;
    line-height: 3rem;
    font-weight: bold;
    text-indent: 2vw;
    padding: 1px;
  }
  header a img {
    vertical-align: middle;
    float: right;
  }
}
#bootcamp {
  margin: 20px;
  text-align: center;
}
#bootcamp form {
  width: 350px;
  margin: 20px auto;
}
