
  #contact  {

    position: relative;
    background-color: #444;
    color: white;
    height: 70vw;
    padding: 3vw;

    h2, h3, h4 {
      color:white;
      text-shadow: 0 0 1vw rgba( 255, 255, 255, 0.7);
    }



    #info1 {
      font-size: 2vw;
      line-height: 1.5;
      width: 45vw;


      a {
        display: inline-block;
      }
    }


    #address, #address2 {
      font-size: 2vw;
      line-height: 1.5;
      position: absolute;
      width: 45vw;
      height: 21vw;
      right: 3vw;
      top: 5vw;
      padding:3vw;
      box-sizing: border-box;
      p{
        margin:0;
        padding:0;
      }
    }
    #address2{
      top:30vw;
    }
    #map, #map2{
      position: absolute;
      width: 21vw;
      height:21vw;
    }
    #map, #map2{
      right: 0;
      top: 0;
    }
  }

  @media all and (max-width: 699px) and (min-width: 320px) {
    #contact  {

      height: auto;
      padding:0;
      margin:0;
      br{display:none;}
      h2{
        line-height: 2;
        font-size: 1.5rem;
        text-indent: 2vw;
        font-style: normal;
        text-shadow: 0 0 0 transparent;
        color:#bbb;

      }
      #info1{
        white-space: nowrap;
        padding: 2vw;
      }
      #info1 p{
        display:none;
      }
      #address, #address2 ,#map,#map2{
        width:100%;
        height: auto;
        position:static;
        display:block;
        padding:0;
        margin:0;
      }
      #address, #address2{
        p{
          background-color: #bbb;
          color:#444;
          line-height: 2.5;
          font-weight:bold;
          text-align: center;
          font-size: 1rem;

        }
      }
      #map,#map2{
        height: 300px;
        width: 100%;
      }
    }
  }