
  #contact  {

    position: relative;
    background-color: #f1f1f1;
    color: @sfgdark;
    height: 70vw;
    padding: 3vw;
    font-size: 1.6rem;

    line-height: 1.5;
    br{display:none;}
    #map,#map2{
      height: 300px;
      width: 100%;
      margin: 2rem 0 0 0;
    }
  }



  @media all and (max-width: 699px) and (min-width: 320px) {
    #contact  {

      height: auto;
      padding:0;
      margin:0;

      h2{
        line-height: 2;
        font-size: 1.5rem;
        text-indent: 2vw;
        font-style: normal;
        text-shadow: 0 0 0 transparent;
        color:#bbb;

      }
      #info1{
        white-space: nowrap;
        padding: 2vw;
      }
      #info1 p{
        display:none;
      }
      #address, #address2 ,#map,#map2{
        width:100%;
        height: auto;
        position:static;
        display:block;
        padding:0;
        margin:0;
      }
      #address, #address2{
        p{
          background-color: #bbb;
          color:#444;
          line-height: 2.5;
          font-weight:bold;
          text-align: center;
          font-size: 1rem;

        }
      }

    }
  }