

  header{
    position: relative;
    bxackground-color: rgba( 255,0,0, .7 );
    height:31.25vw;
    padding-top: 11.25vw;

    h1,h2,h3{
      padding:0;
      margin: 0 0 10px 0;
      text-align:center;
    }
    h1{
      font-size:6vw;

    }
    h2 {
      font-size: 2vw;
    }

    h3{
      font-size: 1.5vw;
      color:white;
      margin-top: 2vw;
    }

    &::before {
      content: "";
      background-image: url(/img/sfg1.jpg);
      background-size: cover;

      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;

      //-webkit-filter: blur(3px);
      //-moz-filter: blur(3px);
      //-o-filter: blur(3px);
      //-ms-filter: blur(3px);
      //filter: blur(3px);
    }

  }
