html {
  font-family: arial;
}
body {
  color: #444;
  padding: 0 0 0 0;
  margin: 0;
  background-color: white;
}
section {
  overflow: hidden;
  margin: 0 auto;
  padding: 1rem;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: normal;
}
a {
  text-decoration: none;
}
a:link {
  color: #00237D;
}
a:visited {
  text-decoration: underline;
}
a:hover {
  color: #D00000;
  text-decoration: underline;
}
footer {
  font-size: 3rem;
  padding: 5rem;
}
a[name] {
  display: block;
}
input,
textarea,
button {
  margin-top: 1vw;
  font-size: 1vw;
  padding: 1vw;
  box-sizing: border-box;
  width: 100%;
}
#link {
  margin: 1vw;
  padding: 3vw;
  background-color: #f1f1f1;
}
#link h2 {
  line-height: 3;
}
#link code {
  font-size: 2rem;
  padding: 2vw;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  h1,
  h2,
  h3,
  h4,
  section h2 {
    text-shadow: 0 0 0 transparent;
    margin: 0;
    padding: 0;
  }
  #about,
  #who,
  #what,
  #menu {
    display: none;
  }
}
header {
  position: relative;
  height: 31.25vw;
  padding-top: 11.25vw;
}
header h1,
header h2,
header h3 {
  padding: 0;
  margin: 0 0 1rem 0;
  text-align: center;
  color: white;
}
header h1 {
  font-size: 6vw;
}
header h2 {
  font-size: 2vw;
  background-color: transparent;
  border: 0 none;
}
header h3 {
  font-size: 1.5vw;
  color: white;
  margin-top: 2vw;
}
header::before {
  content: "";
  background-image: url(/img/IMG_0867.JPG);
  background-size: cover;
  background-position-y: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
header a {
  display: none;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  header {
    overflow: hidden;
    background-color: #00237D;
    margin: 0;
    height: auto;
    padding: 0 0 3rem 0;
  }
  header h1 {
    padding: 1.5rem 0;
    margin: 0;
    text-align: center;
    color: #D00000;
    text-shadow: 0;
    font-size: 2rem;
  }
  header h2 {
    display: none;
  }
  header a {
    display: block;
    overflow: hidden;
    border-radius: 5px;
    margin: 5vw;
    background-color: white;
    line-height: 3rem;
    font-weight: bold;
    text-indent: 2vw;
    padding: 1px;
  }
  header a img {
    vertical-align: middle;
    float: right;
  }
}
#menu {
  background-color: #00237D;
}
#menu ul {
  height: 80px;
}
#menu ul,
#menu li {
  padding: 0;
  margin: 0;
  text-align: center;
}
#menu li {
  display: inline-block;
  vertical-align: middle;
  margin-top: 8px;
}
#menu a {
  display: inline-block;
  line-height: 64px;
  font-size: 1.2vw;
  text-transform: uppercase;
  color: #D00000;
  margin-right: 2vw;
}
#menu a span {
  display: none;
}
#menu a:hover {
  color: white;
}
#menu .signup:hover {
  color: #00237D;
}
.fixed #menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background-color: rgba(0, 35, 125, 0.8);
  box-shadow: 0 0 15px 5px rgba(68, 68, 68, 0.8);
}
.fixed #benefits {
  margin-top: 60px;
}
#benefits {
  overflow: hidden;
  background-color: white;
  text-align: center;
  padding: 4rem 1rem;
  box-sizing: content-box;
  border-bottom: 1px dotted #444;
}
#benefits h2 {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  text-transform: uppercase;
  display: inline-block;
  font-size: 5rem;
  color: black;
  word-wrap: break-word;
  font-style: normal;
  font-weight: normal;
  text-shadow: 0 0 transparent;
  letter-spacing: 2px;
  text-indent: 0;
}
#benefits span {
  padding-right: 2rem;
}
#benefits span:first-child {
  color: #D00000;
}
#benefits span + span + span {
  color: black;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  #benefits h2 {
    font-size: 2rem;
  }
}
#about {
  font-size: 1.6rem;
  padding: 4rem;
}
#about h2 {
  font-size: 2rem;
  font-weight: normal;
}
#about p,
#about li {
  font-size: 1.6rem;
  line-height: 1.5;
}
#about li {
  padding: .5rem 0;
  letter-spacing: 1px;
  line-height: 1.2;
  border-bottom: 1px dotted #444;
}
#about .tagline {
  color: black;
  font-weight: 500;
}
#boast {
  background-color: #D00000;
  overflow: hidden;
  text-align: center;
  box-sizing: content-box;
  padding: 10rem 1rem;
}
#boast h2 {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  text-transform: uppercase;
  display: inline-block;
  font-size: 4rem;
  color: white;
  word-wrap: break-word;
  font-style: normal;
  font-weight: normal;
  text-shadow: 0 0 transparent;
  letter-spacing: 2px;
  text-indent: 4rem;
}
#boast h2 span:first-child {
  color: black;
}
#boast2 {
  background-color: black;
  overflow: hidden;
  text-align: center;
  box-sizing: content-box;
  padding: 2vw;
}
#boast2 iframe {
  width: 100%;
  height: 100%;
}
#boast2 div {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#boast2 h2 {
  color: white;
  font-size: 1rem;
  line-height: 1.2;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  #boast h2 {
    font-size: 2rem;
  }
}
