html {
  font-family: arial;
}
body {
  color: #444;
  padding: 0 0 0 0;
  margin: 0;
  background-color: white;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
}
section {
  overflow: hidden;
  margin: 0 auto;
  padding: 3vw 1vw 1vw 1vw;
}
section h2 {
  font-size: 2vw;
  text-shadow: 0 0 1vw rgba(128, 128, 128, 0.7);
  margin-bottom: 1vw;
}
body section:nth-child(2n+1) {
  background-color: #f1f1f1;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 0 0 1vw rgba(128, 128, 128, 0.7);
  padding: 0;
  margin: 0;
  color: #444;
}
h2 {
  font-size: 4vw;
}
a {
  text-decoration: none;
}
a:link {
  color: blue;
}
a:visited {
  text-decoration: underline;
}
a:hover {
  color: red;
  text-decoration: underline;
}
a[name] {
  display: block;
}
input,
textarea,
button {
  margin-top: 1vw;
  font-size: 1vw;
  padding: 1vw;
  box-sizing: border-box;
  width: 100%;
}
button {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.6);
  background-color: red;
  color: #444;
  font-weight: bold;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  h1,
  h2,
  h3,
  h4,
  section h2 {
    text-shadow: 0 0 0 transparent;
    margin: 0;
    padding: 0;
  }
  #about,
  #who,
  #what,
  #menu {
    display: none;
  }
}
header {
  position: relative;
  height: 31.25vw;
  padding-top: 11.25vw;
}
header h1,
header h2,
header h3 {
  padding: 0;
  margin: 0 0 10px 0;
  text-align: center;
  color: white;
}
header h1 {
  font-size: 6vw;
}
header h2 {
  font-size: 2vw;
}
header h3 {
  font-size: 1.5vw;
  color: white;
  margin-top: 2vw;
}
header::before {
  content: "";
  background-image: url(/img/IMG_0867.JPG);
  background-size: cover;
  background-position-y: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  header {
    overflow: hidden;
    background-color: #FF4136;
    margin: 0;
    height: auto;
    padding: 0;
  }
  header h1,
  header h2,
  header h3 {
    padding: 1.5rem 0;
    margin: 0;
    text-align: center;
    color: black;
    text-shadow: 0;
    font-size: 2rem;
    border-bottom: 1px dotted black;
  }
  header h2 {
    display: none;
  }
  header h2,
  header h3 {
    padding: 1rem;
    font-size: 1rem;
  }
}
#menu {
  box-shadow: 0px 0 15px 5px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.8);
}
#menu ul {
  padding: 0 20px 0 0;
  margin: 0;
  text-align: right;
  line-height: 60px;
}
#menu li {
  display: inline;
}
#menu a {
  font-size: 20px;
  padding-right: 10px;
  text-transform: uppercase;
  font-style: italic;
  color: white;
}
#about #section1,
#about #section2 {
  overflow: hidden;
  float: left;
  box-sizing: border-box;
  padding: 2vw;
}
#about #section1 {
  width: 68vw;
  margin-right: 1vw;
}
#about #section1 p {
  font-size: 2vw;
  line-height: 1.5;
  margin: 0 0 .5vw 0;
}
#about #section1 p + p {
  text-indent: 2vw;
}
#about #section2 {
  width: 29vw;
  border: 1px solid #ccc;
}
#about #section2 h2 {
  font-size: 2vw;
  color: #444;
  text-shadow: 0 0 1vw rgba(128, 128, 128, 0.7);
}
#about #section2 p {
  font-size: 1vw;
  line-height: 1.5;
}
#who {
  padding: 3vw;
  background-color: rgba(0, 0, 255, 0.7);
  position: relative;
}
#who h2,
#who h3,
#who h4 {
  color: white;
  text-shadow: 0 0 1vw rgba(255, 255, 255, 0.7);
}
#who h3 {
  font-size: 3vw;
}
#who h4 {
  margin-top: 2vw;
}
#who ul {
  padding: 0;
}
#who li {
  display: inline-block;
  width: 12.5vw;
  height: 18.75vw;
  border: 1px dotted #ccc;
  margin-right: 1vw;
  margin-bottom: 1vw;
}
#who li a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 18.75vw;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  color: white;
  text-shadow: 0 0 1vw rgba(255, 255, 255, 0.7);
  overflow: hidden;
}
#what {
  background-color: green;
}
#timetable {
  padding: 2vw;
  overflow: hidden;
  text-align: center;
}
#timetable h2 {
  text-align: center;
  font-size: 50px;
  color: #444;
  text-shadow: 0 0 10px rgba(128, 128, 128, 0.7);
  margin: 0 0 20px 0;
}
#timetable table {
  margin-bottom: 20px;
  width: 80%;
  border: 1px solid #CCCCCC;
  border-collapse: collapse;
}
#timetable td {
  line-height: 1.8;
  font-size: 20px;
  text-indent: 20px;
}
#timetable tr:nth-child(2n) td {
  background-color: #f1f1f1 ;
}
#timetable .weekday {
  text-align: left;
  font-size: 40px;
  line-height: 1.5;
  padding-top: 50px;
  padding-bottom: 25px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  #timetable {
    margin: 0;
    padding: 0;
  }
  #timetable table {
    width: 100%;
    margin: 0;
    border: 0;
  }
  #timetable td {
    line-height: 2;
    font-size: 1.5rem;
    text-indent: 2vw;
    border: 0;
  }
  #timetable h2 {
    background-color: #444;
    color: #bbbbbb;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-shadow: 0 0 0 transparent;
    margin: 0;
    padding: 1rem;
    font-style: normal;
  }
  #timetable h2 span {
    display: none;
  }
  #timetable .weekday {
    border: 0;
    text-indent: 1vw;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 2;
    background-color: #bbbbbb;
  }
}
#contact {
  position: relative;
  background-color: #444;
  color: white;
  height: 70vw;
  padding: 3vw;
}
#contact h2,
#contact h3,
#contact h4 {
  color: white;
  text-shadow: 0 0 1vw rgba(255, 255, 255, 0.7);
}
#contact #info1 {
  font-size: 2vw;
  line-height: 1.5;
  width: 45vw;
}
#contact #info1 a {
  display: inline-block;
}
#contact #address,
#contact #address2 {
  font-size: 2vw;
  line-height: 1.5;
  position: absolute;
  width: 45vw;
  height: 21vw;
  right: 3vw;
  top: 5vw;
  padding: 3vw;
  box-sizing: border-box;
}
#contact #address p,
#contact #address2 p {
  margin: 0;
  padding: 0;
}
#contact #address2 {
  top: 30vw;
}
#contact #map,
#contact #map2 {
  position: absolute;
  width: 21vw;
  height: 21vw;
}
#contact #map,
#contact #map2 {
  right: 0;
  top: 0;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  #contact {
    height: auto;
    padding: 0;
    margin: 0;
  }
  #contact br {
    display: none;
  }
  #contact h2 {
    line-height: 2;
    font-size: 1.5rem;
    text-indent: 2vw;
    font-style: normal;
    text-shadow: 0 0 0 transparent;
    color: #bbb;
  }
  #contact #info1 {
    white-space: nowrap;
    padding: 2vw;
  }
  #contact #info1 p {
    display: none;
  }
  #contact #address,
  #contact #address2,
  #contact #map,
  #contact #map2 {
    width: 100%;
    height: auto;
    position: static;
    display: block;
    padding: 0;
    margin: 0;
  }
  #contact #address p,
  #contact #address2 p {
    background-color: #bbb;
    color: #444;
    line-height: 2.5;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
  }
  #contact #map,
  #contact #map2 {
    height: 300px;
    width: 100%;
  }
}
