html {
  font-family: arial;
}
body {
  color: #444;
  padding: 0 0 0 0;
  margin: 0;
  background-color: white;
}
section {
  overflow: hidden;
  margin: 0 auto;
  padding: 1rem;
}
section h2 {
  font-size: 2vw;
  margin-bottom: 1vw;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #444;
}
h2 {
  font-size: 4vw;
}
a {
  text-decoration: none;
}
a:link {
  color: #00237D;
}
a:visited {
  text-decoration: underline;
}
a:hover {
  color: #D00000;
  text-decoration: underline;
}
footer {
  font-size: 3rem;
  padding: 5rem;
}
a[name] {
  display: block;
}
input,
textarea,
button {
  margin-top: 1vw;
  font-size: 1vw;
  padding: 1vw;
  box-sizing: border-box;
  width: 100%;
}
button {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.6);
  background-color: red;
  color: #444;
  font-weight: bold;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  h1,
  h2,
  h3,
  h4,
  section h2 {
    text-shadow: 0 0 0 transparent;
    margin: 0;
    padding: 0;
  }
  #about,
  #who,
  #what,
  #menu {
    display: none;
  }
}
header {
  position: relative;
  height: 31.25vw;
  padding-top: 11.25vw;
}
header h1,
header h2,
header h3 {
  padding: 0;
  margin: 0 0 10px 0;
  text-align: center;
  color: white;
}
header h1 {
  font-size: 6vw;
}
header h2 {
  font-size: 2vw;
}
header h3 {
  font-size: 1.5vw;
  color: white;
  margin-top: 2vw;
}
header::before {
  content: "";
  background-image: url(/img/IMG_0867.JPG);
  background-size: cover;
  background-position-y: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
header a {
  display: none;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  header {
    overflow: hidden;
    background-color: #00237D;
    margin: 0;
    height: auto;
    padding: 0 0 3rem 0;
  }
  header h1 {
    padding: 1.5rem 0;
    margin: 0;
    text-align: center;
    color: #D00000;
    text-shadow: 0;
    font-size: 2rem;
  }
  header h2 {
    display: none;
  }
  header a {
    display: block;
    overflow: hidden;
    border-radius: 5px;
    margin: 5vw;
    background-color: white;
    line-height: 3rem;
    font-weight: bold;
    text-indent: 2vw;
    padding: 1px;
  }
  header a img {
    vertical-align: middle;
    float: right;
  }
}
#menu {
  background-color: #00237D;
}
#menu ul {
  padding: 0 20px 0 0;
  margin: 0;
  text-align: center;
  line-height: 60px;
}
#menu li {
  display: inline;
}
#menu a {
  font-size: 20px;
  padding-right: 10px;
  text-transform: uppercase;
  color: #D00000;
}
#menu a:hover {
  color: white;
}
.fixed #menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background-color: rgba(0, 35, 125, 0.8);
  box-shadow: 0 0 15px 5px rgba(68, 68, 68, 0.8);
}
.fixed #benefits {
  margin-top: 60px;
}
#benefits {
  overflow: hidden;
  background-color: #444;
  text-align: center;
  padding: 4rem 1rem;
  box-sizing: content-box;
}
#benefits h2 {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  text-transform: uppercase;
  display: inline-block;
  font-size: 5rem;
  color: black;
  word-wrap: break-word;
  font-style: normal;
  font-weight: normal;
  text-shadow: 0 0 transparent;
  letter-spacing: 2px;
  text-indent: 4rem;
}
#benefits span {
  padding-right: 2rem;
}
#benefits span:first-child {
  color: white;
}
#benefits span + span + span {
  color: white;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  #benefits h2 {
    font-size: 2rem;
  }
}
#credentials {
  font-size: 1.6rem;
  padding: 2rem;
}
#boast {
  background-color: #D00000;
  overflow: hidden;
  text-align: center;
  box-sizing: content-box;
  padding: 2vw;
}
#boast h2 {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  text-transform: uppercase;
  display: inline-block;
  font-size: 4rem;
  color: white;
  word-wrap: break-word;
  font-style: normal;
  font-weight: normal;
  text-shadow: 0 0 transparent;
  letter-spacing: 2px;
  text-indent: 4rem;
}
#boast2 {
  background-color: black;
  overflow: hidden;
  text-align: center;
  box-sizing: content-box;
  padding: 2vw;
}
#boast2 iframe {
  width: 100%;
  height: 100%;
}
#boast2 div {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#boast2 h2 {
  color: white;
  font-size: 1rem;
  line-height: 1.2;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  #boast h2 {
    font-size: 2rem;
  }
}
#who {
  padding: 3vw;
  background-color: rgba(0, 0, 255, 0.7);
  position: relative;
}
#who h2,
#who h3,
#who h4 {
  color: white;
  text-shadow: 0 0 1vw rgba(255, 255, 255, 0.7);
}
#who h3 {
  font-size: 3vw;
}
#who h4 {
  margin-top: 2vw;
}
#who ul {
  padding: 0;
}
#who li {
  display: inline-block;
  width: 12.5vw;
  height: 18.75vw;
  border: 1px dotted #ccc;
  margin-right: 1vw;
  margin-bottom: 1vw;
}
#who li a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 18.75vw;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  color: white;
  text-shadow: 0 0 1vw rgba(255, 255, 255, 0.7);
  overflow: hidden;
}
#what {
  background-color: green;
}
#timetable {
  margin: 0;
  padding: 0;
}
#timetable > div {
  overflow: hidden;
}
#timetable > div:nth-child(2n+1) {
  background-color: #444;
}
#timetable > div:nth-child(2n+1) table {
  background-color: #f1f1f1;
}
#timetable > div + div {
  padding: 1rem;
  box-sizing: content-box;
}
#timetable > div + div h2 {
  color: #444;
  background-color: #bbb;
}
#timetable table {
  width: 100%;
  margin: 0;
  border: 0;
  border-collapse: collapse;
  overflow: hidden;
}
#timetable thead {
  border-bottom: 1px solid #bbb;
}
#timetable tr {
  border: 0;
}
#timetable td {
  line-height: 2;
  font-size: 1.5rem;
  text-indent: 2vw;
  border: 0;
  width: 20%;
}
#timetable td + td {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#timetable h2 {
  background-color: #444;
  color: #bbb;
  text-indent: 2rem;
  margin: 0;
  padding: 0;
  line-height: 2;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-shadow: 0 0 0 transparent;
  font-style: normal;
}
#timetable h2 span {
  display: none;
}
#timetable .weekday {
  text-align: left;
  border: 0;
  text-indent: 2vw;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  line-height: 2;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  #timetable h2 {
    text-align: center;
  }
  #timetable h2 span {
    display: none;
  }
  #timetable .weekday {
    text-align: center;
  }
  #timetable td,
  #timetable h2,
  #timetable .weekday {
    font-size: 1rem;
  }
}
#prices {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#prices table {
  width: 100%;
  margin: 2rem;
}
#prices table thead {
  text-align: left;
}
#prices table td {
  width: 20%;
}
#prices table td + td {
  width: 80%;
}
#prices h2 {
  background-color: #444;
  color: #bbb;
  text-indent: 2rem;
  margin: 0;
  padding: 0;
  line-height: 2;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-shadow: 0 0 0 transparent;
  font-style: normal;
}
#prices h2 span {
  display: none;
}
#prices h3 {
  text-indent: 2rem;
  font-size: 1.6rem;
  line-height: 2;
}
#prices p {
  display: inline-block;
  margin: 0 0 0 2rem;
  padding: 0;
}
#prices p a {
  display: inline-block;
  padding: 0 1rem;
  line-height: 60px;
  height: 60px;
  border: 1px solid green;
  margin: 1rem;
}
#prices p a:hover {
  background-color: green;
  color: white;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  #prices h3 span {
    display: none;
  }
}
#contact {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: white;
  height: 1781px;
  font-size: 1.6rem;
  line-height: 1.5;
}
#contact h2 {
  background-color: #444;
  color: #bbb;
  text-indent: 2rem;
  margin: 0;
  padding: 0;
  line-height: 2;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-shadow: 0 0 0 transparent;
  font-style: normal;
}
#contact h3 {
  color: white;
}
#contact a {
  color: white;
}
#contact a:visited {
  text-decoration: underline;
  color: white;
}
#contact a:hover {
  text-decoration: underline;
  color: white;
}
#contact ul {
  margin-top: .5rem;
}
#contact br {
  display: none;
}
#contact > div {
  background-color: #00237D;
  color: white;
  padding: 2rem;
  box-sizing: content-box;
}
#contact > div h3 {
  color: #D00000;
}
#contact > div + div {
  background-color: #D00000;
}
#contact > div + div h3 {
  color: #00237D;
}
#contact #map,
#contact #map2 {
  height: 600px;
  width: 100%;
  margin: 2rem 0 0 0;
}
@media all and (max-width: 699px) and (min-width: 320px) {
  #contact {
    height: auto;
    padding: 0;
    margin: 0;
  }
  #contact h2 {
    line-height: 2;
    font-size: 1rem;
    text-indent: 2vw;
    font-style: normal;
    color: #bbb;
    text-align: center;
  }
  #contact h3 {
    font-size: 1rem;
  }
  #contact h3 span {
    display: none;
  }
  #contact li {
    font-size: 1rem;
  }
}
