




    #timetable {
      margin:0;
      padding:0;


      &>div{
        overflow:hidden;
      }

      &>div:nth-child(2n+1)  {
        background-color:@sfgLightComplement;

        table{
          background-color:@sfgLight2;
        }

      }
      &>div+div{
        padding: 1rem;
        box-sizing: content-box;
        h2 {
          color: @sfgLightComplement;
          background-color: @sfgLight;
        }
      }
      table {
        width: 100%;
        margin:0;
        border: 0;
        border-collapse: collapse;
        overflow:hidden;
      }
      thead{
        border-bottom:1px solid @sfgLight;
      }

      tr{
        border: 0;
      }
      td {
        line-height: 2;
        font-size: 1.5rem;
        text-indent:2vw;
        border: 0;
        width: 20%;
      }
      td+td{
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

      }

      h2 {
        background-color: @sfgLightComplement;
        color: @sfgLight;

        text-indent: 2rem;
        margin:0;
        padding:0;
        line-height: 2;

        text-transform: uppercase;
        font-size: 1.6rem;
        text-shadow: 0 0 0 transparent;

        font-style: normal;

        span {
          display:none;
        }

      }

      .weekday {
        text-align:left;
        border: 0;
        text-indent: 2vw;
        padding:0;
        margin: 0;
        font-size: 1.6rem;
        line-height: 2;

      }
    }

    @media all and (max-width: 699px) and (min-width: 320px) {

      #timetable{
        h2 {
          text-align: center;
          span {
            display: none;
          }
        }
        .weekday {
          text-align:center;
        }
        td, h2, .weekday {
          font-size: 1rem;
        }
      }


    }