html
    head

        <meta charset="utf-8">
        <title>Strikeforce Gym</title>
        <meta name="description" content="">
        <meta name="keywords" content="Muay Thai, MMA, Kickboxing">
        include ./include/head.jade

        <link href="css/main.css" rel="stylesheet" type="text/css" />


        script
            include ./include/googleanalytics.js
        include ./include/fbanalytics.jade
    body
        header
            h1 Strikeforce Gym
            include ./include/tagline.jade

        nav#menu
            ul
                li
                    a(href="/auckland")
                        span.mobile &nbsp;9 Crum Ave, New Lynn,&nbsp;
                        span Auckland
                        span.mobile .
                    a.mobile(href="tel:+64211772320")
                        img(src="ass/phone.png")
                li
                    a(href="/canterbury")
                        span.mobile &nbsp;295 Cashel St,&nbsp;
                        span Christchurch
                        span.mobile &nbsp;Central.
                    a.mobile(href="tel:+64210709531")
                        img(src="ass/phone.png")
                li
                    a(href="/linktous") link to us
                li
                    a(href="/links") SFG Web
                li
                    a(href="https://www.surveymonkey.com/r/JNTS7N6") Take our survey




        include ./include/benefits.jade
        include ./include/about.jade
        include ./include/boast1.jade


        footer
            p To BE the best you have to BEAT the best... so come TRAIN WITH the BEST. Welcome to STRIKE FORCE...

        include ./include/after.jade
