section#who
    <a name="who"></a>
    h2 meet some of the people at strikeforce
    h3 Auckland
    h4 Instructors
    ul
        li
            a(href="/") Aaron Boyes

    h4 fighters
    ul
        li
            a(href="/") Rod Mcswain
        li
            a(href="/") Kanye Conlan
        li
            a(href="/") Beau Rawiri
        li
            a(href="/") Hayden Todd
        li
            a(href="/") Ben Sisam

    h3 Christcurch
    h4 Instructors
        ul
            li
                a(href="/") Karl Webber
    h4 fighters
    ul
        li
            a(href="/") Mark Alberlado
div#section1
    p
        span Strikeforce Gym specialises in combat fitness and readiness.
    p Located in in Auckland and Christchurch,&nbsp;
        span we have been in the fight business for over 20 years.
    p We have produced many of the&nbsp;
        a(href="http://www.tapology.com/fightcenter/fighters/18854-daniel-hooker") elite competitors in the current generation of New Zealand fighters
        span ,&nbsp;in the U.F.C, M.M.A and Muay Thai.
div#section2



    <a href="https://facebook.com/strikeforcegymnewzealand"><img src="img/64-facebook.png" alt="facebook"></a>
    <a href="https://twitter.com/strikeforcenz"><img src="img/64-twitter.png" alt="twitter"></a>
    <a href="https://www.instagram.com/strikeforcenewzealand/"><img src="img/64-instagram.png" alt="instagram"></a>

    <a href=""><img src="img/64-googleplus.png" alt="googleplus"></a>
    <a href="https://www.youtube.com/channel/UCLqRNSJ1-REQXq4iUfKaf2Q"><img src="img/64-youtube.png" alt="youtube"></a>
    <a href="skype:strikeforcenewzealand?call"><img src="img/64-skype.png" alt="skype"></a><br>
section#what
    <a name="what"></a>
    h2 What people are saying about us?
    ul
        li
            a(href="https://www.facebook.com/steve.pipe.1/place_reviews_written") Great gym. Hearty, old school muay thai training facility that gives you everything you need to get in the best shape of your life. Home to west aucklands top pro fighters! Go down and meet a few humble local champs for yourself!
