html
    head

        <meta charset="utf-8">
        <title>Strikeforce Gym</title>
        <meta name="description" content="">
        <meta name="keywords" content="Muay Thai, MMA, Kickboxing">
        <meta name="author" content="coder451@codeology.co.nz">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->



    body
        ul
            li
                a(href="https://facebook.com/profile.php?v=timeline&timecutoff=1409430606&sectionLoadingID=m_timeline_loading_div_1293868799_1262332800_8_&timeend=1293868799&timestart=1262332800&tm=AQAtWDWYCWYPT0mZ&id=117869344892104") https://facebook.com/profile.php?v=timeline&timecutoff=1409430606&sectionLoadingID=m_timeline_loading_div_1293868799_1262332800_8_&timeend=1293868799&timestart=1262332800&tm=AQAtWDWYCWYPT0mZ&id=117869344892104
            li
                a(href="")