html
    head

        <meta charset="utf-8">
        <title>Strikeforce Gym | links around the web</title>
        <meta name="description" content="">
        <meta name="keywords" content="Muay Thai, MMA, Kickboxing">
        include ./include/head.jade

        <link href="css/main.css" rel="stylesheet" type="text/css" />

        script
            include ./include/googleanalytics.js
        include ./include/fbanalytics.jade
    body
        header
            h1 Strikeforce Gym
            include ./include/tagline.jade

        nav#menu
            ul
                li
                    a(href="/auckland")
                        span.mobile &nbsp;8a Puriri Street, New Lynn,&nbsp;
                        span Auckland
                        span.mobile .
                    a.mobile(href="tel:+64211772320")
                        img(src="ass/phone.png")
                li
                    a(href="/canterbury")
                        span.mobile &nbsp;295 Cashel St,&nbsp;
                        span Christchurch
                        span.mobile &nbsp;Central.
                    a.mobile(href="tel:+64210709531")
                        img(src="ass/phone.png")
                li
                    a(href="/linktous") link to us

        ul
            li
                a(href="https://magazine.fighttimes.com/submission-grappling/") https://magazine.fighttimes.com/submission-grappling/
            li
                a(href="https://mmaorient.wordpress.com/tag/strikeforce-gym/") https://mmaorient.wordpress.com/tag/strikeforce-gym/
            li
                a(href="http://www.newzealandfighter.co.nz/Interview-with-UFC-Dan-Hooker") http://www.newzealandfighter.co.nz/Interview-with-UFC-Dan-Hooker
            li
                a(href="http://www.newzealandfighter.co.nz/node/575") http://www.newzealandfighter.co.nz/node/575
            li
                a(href="http://www.stuff.co.nz/sunday-news/sport/4897038/Rod-building-for-Hong-Kong") http://www.stuff.co.nz/sunday-news/sport/4897038/Rod-building-for-Hong-Kong
            li
                a(href="https://books.google.co.nz/books?id=bLFgkHHOkb4C&pg=PT124&lpg=PT124&dq=aaron+boyes+strikeforce&source=bl&ots=t5vaEzNbQw&sig=VVXVo7HQezQY2mw0970vc1oIsKI&hl=en&sa=X&ved=0ahUKEwjIzda8gNDKAhUhq6YKHdznDtg4FBDoAQhBMAg#v=onepage&q=aaron%20boyes%20strikeforce&f=false") https://books.google.co.nz/books?id=bLFgkHHOkb4C&pg=PT124&lpg=PT124&dq=aaron+boyes+strikeforce&source=bl&ots=t5vaEzNbQw&sig=VVXVo7HQezQY2mw0970vc1oIsKI&hl=en&sa=X&ved=0ahUKEwjIzda8gNDKAhUhq6YKHdznDtg4FBDoAQhBMAg#v=onepage&q=aaron%20boyes%20strikeforce&f=false
            li
                a(href="http://www.masterwaki.com/supremacy-2-mma-fight-night-results/") http://www.masterwaki.com/supremacy-2-mma-fight-night-results/
            li
                a(href="http://duncangreive.com/2013/03/01/sports-feature-cage-fighting-in-porirua-for-sky-sport-the-magazine/") http://duncangreive.com/2013/03/01/sports-feature-cage-fighting-in-porirua-for-sky-sport-the-magazine/
            li
                a(href="http://www.insidemma.com.au/fighters/244-daniel-hooker-the-lfc-roster-is-stacked-with-sharks") http://www.insidemma.com.au/fighters/244-daniel-hooker-the-lfc-roster-is-stacked-with-sharks
            li
                a(href="http://mma-in-asia.com/promotions/pxc/mark-abelardo-pxcs-newest-bantamweight-prospect-team-quest-sponsorship-winner/") http://mma-in-asia.com/promotions/pxc/mark-abelardo-pxcs-newest-bantamweight-prospect-team-quest-sponsorship-winner/

        footer
            p To BE the best you have to BEAT the best... so come TRAIN WITH the BEST. Welcome to STRIKE FORCE...

        include ./include/after.jade