li
    a(href="https://www.facebook.com/Strike-Force-Gym-117869344892104",title="Strikeforce Auckland on Facebook")
        span Strikeforce Auckland on Facebook
        img(src="ass/64-facebook.png",width="64",height="64")
