html
    head

        <meta charset="utf-8">
        <title>Strikeforce Gym</title>
        <meta name="description" content="">
        <meta name="keywords" content="Muay Thai, MMA, Kickboxing">
        include ../include/head.jade


        <!-- Css -->
        <link href="css/auckland.css" rel="stylesheet" type="text/css" />
    body
        header
            h1 Strikeforce Auckland
            include ../include/tagline.jade
            ul#headerlinks
                include ./signup.jade
                include ./fblink.jade
                include ./phonelink.jade

        nav#menu
            ul
                li.drop
                    a(href="/") home
                li.drop
                    a(href="#timetable") timetable
                li.drop
                    a(href="#prices") pricing
                li.drop
                    a(href="#contact") address

        section#timetable
            <a name="timetable"></a>
            div
                h2 Timetable

                table(align="center",border="0")
                    thead
                        tr
                            th(colspan="2").weekday MONDAY
                    tbody
                        tr
                            td 6.00pm
                            td Fighters Muay Thai
                        tr
                            td 7.00pm
                            td Beginners Muay Thai
                        tr
                            td 8.00pm
                            td MMA

                table(align="center",border="0")
                    thead
                        tr
                            th(colspan="2").weekday TUESDAY
                    tbody
                        tr
                            td 5.00pm
                            td Kids Muay Thai
                        tr
                            td 6.00pm
                            td Fighters Muay Thai
                        tr
                            td 7.30pm
                            td Grappling Open Mat &nbsp;(open to NON-MEMBERS, $10)

                table(align="center",border="0")
                    thead
                        tr
                            th(colspan="2").weekday WEDNESDAY
                    tbody
                        tr
                            td 5.00pm
                            td Kids Muay Thai
                        tr
                            td 6.00pm
                            td Fighters Muay Thai
                        tr
                            td 7.00pm
                            td Beginners Muay Thai
                        tr
                            td 8.00pm
                            td MMA

                table(align="center",border="0")
                    thead
                        tr
                            th(colspan="2").weekday THURSDAY
                    tbody
                        tr
                            td 5.00pm
                            td Kids Muay Thai
                        tr
                            td 6.00pm
                            td Fighters Muay Thai
                        tr
                            td 7.30pm
                            td Grappling Open Mat &nbsp;(open to NON-MEMBERS, $10)

                table(align="center",border="0")
                    thead
                        tr
                            th(colspan="2").weekday FRIDAY
                    tbody
                        tr
                            td 6.00pm
                            td Fighters Muay Thai
                        tr
                            td 7.00pm
                            td Beginners Muay Thai

                table(align="center",border="0")
                    thead
                        tr
                            th(colspan="2").weekday SATURDAY
                    tbody
                        tr
                            td 10.00pm
                            td Women's only Kickboxing
                        tr
                            td 3.00pm
                            td Beginners Sparring

                table(align="center",border="0")
                    thead
                        tr
                            th(colspan="2").weekday SUNDAY
                    tbody
                        tr
                            td
                            td CLOSED
        section#prices
            <a name="prices"></a>

            h2 pricing
            div
                h3 Price Per Week
                ul
                    li Direct debit through Debit Success
                    li no contract term
                    li includes all classes

                table(align="center",border="0")
                    tbody
                        tr
                            td ADULT
                            td $20
                        tr
                            td CHILD
                            td $15
                h3 Casual Price Per Class
                ul
                    li cash only

                table(align="center",border="0")
                    tbody
                        tr
                            td OPEN MAT
                            td $10 (ADULT ONLY)
                        tr
                            td ADULT
                            td $20
                        tr
                            td CHILD
                            td $10

        section#contact
            <a name="contact"></a>

            h2 find us

            div
                p
                    span 10 Drury Street,
                    br
                    span &nbsp;New Lynn,
                    br
                    span &nbsp;Auckland,
                    br
                    span &nbsp;0600

                div#map

        footer
            p To BE the best you have to BEAT the best... so come TRAIN WITH the BEST. Welcome to STRIKE FORCE...

        include ../include/after.jade
        include ../include/fbanalytics.jade
        include ../include/googleanalytics.jade